@tailwind base;
@tailwind components;
@tailwind utilities;

/* Example for Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  font-family: 'Roboto', sans-serif; /* Replace 'Roboto' with your font */
  margin: 0;
  padding: 0;
}
